@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

.superTrunfo {
    font-family: 'Reem Kufi', sans-serif;
}

.osPoliticos {
    font-family: 'DM Serif Display', serif;
    letter-spacing: 7px;
}

.half-color {
	position:relative;
	font-size:64px;
	display:inline-block;
 	color:white;
    
}

.half-color:before{
	content: attr(attribute);
	color:#303030;
	position:absolute;
	top:0;
	left:0;
	height:57%;
	overflow:hidden;
    text-shadow: 0px 0px 3px white;
}

.half-color2 {
	position:relative;
	font-size:64px;
	display:inline-block;
 	color:#303030;
    text-shadow: 0px 0px 3px white;
}

.half-color2:before{
	content: attr(attribute);
	color:white;
	position:absolute;
	bottom:25%;
	left:0;
	height:50%;
	overflow:hidden;
}

.half-color3 {
	padding:0px;
	position:relative;
	font-size:64px;
	display:inline-block;
 	color:white;
 	z-index:1;
}

.half-color3:after{
	content: attr(attribute);
	color:#303030;
    text-shadow: 0px 0px 3px white;
	position:absolute;
	top:0;
	left:0;
	width:72%;
	overflow:hidden;
	z-index:2;
}

.half-color3:before{
	content: attr(attribute);
	color:#303030;
	position:absolute;
	top:0;
	left:0;
	width:30%;
	overflow:hidden;
	z-index:3;
}

.half-color4 {
	padding:0px;
	position:relative;
	font-size:64px;
	display:inline-block;
 	color:#d9d9d9;
 	z-index:1;
}

.half-color4:after{
	content: attr(attribute);
	color:#303030;
    text-shadow: 0px 0px 3px white;
	position:absolute;
	top:0;
	left:0;
	/*width:70%;*/
	overflow:hidden;
	z-index:2;
}

.half-color4:before{
	content: attr(attribute);
	color:white;
	position:absolute;
	top:0;
	left:0;
	width:40%;
	overflow:hidden;
	z-index:3;
}

.swing-in-bottom-bck {
	-webkit-animation: swing-in-bottom-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-bottom-bck {
	0% {
	  -webkit-transform: rotateX(-70deg);
			  transform: rotateX(-70deg);
	  -webkit-transform-origin: bottom;
			  transform-origin: bottom;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0);
			  transform: rotateX(0);
	  -webkit-transform-origin: bottom;
			  transform-origin: bottom;
	  opacity: 1;
	}
  }
  @keyframes swing-in-bottom-bck {
	0% {
	  -webkit-transform: rotateX(-70deg);
			  transform: rotateX(-70deg);
	  -webkit-transform-origin: bottom;
			  transform-origin: bottom;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0);
			  transform: rotateX(0);
	  -webkit-transform-origin: bottom;
			  transform-origin: bottom;
	  opacity: 1;
	}
  }
  