@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

ul {
    list-style: none;
    padding: 0;
}

li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}